<header id="top-header" class="top-header">
  <aside id="side-menu" class="side-menu">
    <select name="display-language" id="display-language-picker" class="display-language-picker">
      {% for locale in _locales|split('|') %}
        <option value="{{ locale }}" {% if locale == app.request.locale %}selected{% endif %}>{{ ('language.' ~ locale) | t }}</option>
      {% endfor %}
    </select>
    <div class="top-bar">
      <div id="side-menu-close-handle" class="side-menu-close-handle"><i class="fa-solid fa-angles-left"></i></div>
    </div>
    <nav id="side-menu-nav" class="side-menu-nav">
      <a href="{{ path('app_search_builder') }}"><i class="fa-solid fa-magnifying-glass"></i>{{ 'form.searchForm.search_action' | t }}</a>
      {% if app.user %}
        <a href="{{ path('app_account') }}"><i class="fa-solid fa-user"></i>{{ 'user.myAccount' | t }}</a>
        {% if is_granted('ROLE_EDITOR') %}
          <a href="{{ path('app_recipe_new') }}"><i class="fa-solid fa-pen-to-square"></i>{{ 'form.recipeForm.createNewRecipe' | t }}</a>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
          <a href="{{ path('admin') }}" class="admin"><i class="fa-solid fa-shield-halved admin-link"></i>{{ 'admin.dashboard' | t }}</a>
        {% endif %}
        <a href="{{ path('app_logout') }}" class="logout"><i class="fa-solid fa-right-from-bracket logout-link"></i>{{ 'user.login.logout' | t }}</a>
      {% else %}
        <a href="{{ path('app_login') }}"><i class="fa-solid fa-right-to-bracket"></i>{{ 'user.login.login' | t }}</a>
        <a href="{{ path('app_register') }}"><i class="fa-solid fa-user-plus"></i>{{ 'user.registration.register' | t }}</a>
      {% endif %}
    </nav>
  </aside>
  <div id="shadow-on-page" class="shadow-on-page"></div>
  <div id="side-menu-open-handle" class="side-menu-open-handle"><i class="fa-solid fa-bars"></i></div>
  <strong id="website-title"><a href="{{ path('app_home') }}" class="website-title">SmartChef</a></strong>
</header>