<header id="top-header">
  <aside id="side-menu">
    <div class="top-bar">
      <div id="side-menu-close-handle"><i class="fa-solid fa-angles-left"></i></div>
    </div>
    <nav id="side-menu-nav">
      {% if app.user %}
        <a href="">{{ 'user.myAccount' | t }}</a>
        <a href="{{ path('app_logout') }}">{{ 'user.login.logout' | t }}</a>
        {% if is_granted('ROLE_ADMIN') %}
          <a href="{{ path('admin') }}">{{ 'admin.dashboard' | t }}</a>
        {% endif %}
      {% else %}
        <a href="{{ path('app_login') }}">{{ 'user.login.login' | t }}</a>
        <a href="{{ path('app_register') }}">{{ 'user.registration.register' | t }}</a>
      {% endif %}
    </nav>
  </aside>
  <div id="shadow-on-page"></div>
  <div id="side-menu-open-handle"><i class="fa-solid fa-bars"></i></div>
  <strong id="website-title"><a href="{{ path('app_home') }}">SmartChef</a></strong>
</header>