<article class="recipe-card">
  <a href="{{ path('app_recipe_show', { id: recipe.id }) }}" class="card-link"></a>
  <div class="img-wrapper" style="--background-image-url: url('{{ recipe.imageUrl ? asset('upload/' ~ recipe.imageUrl) : asset('img/recipe_placeholder.svg') }}');"></div>
  <div class="details-wrapper">
    <h4>{{ recipe.title }}</h4>
    <div class="author-wrapper">
      <i class="fa-solid fa-circle-user"></i>
      <span class="author">{{ recipe.author }}</span>
    </div>
    <div class="score-and-duration-wrapper">
      <div class="score-wrapper">
        <i class="fa-solid fa-arrow-right-arrow-left"></i>
        <span class="score">{{ recipe.score | format_score }}</span>
      </div>
      <div class="dot">·</div>
      <div class="date-wrapper">
        <span class="date">{{ recipe.createdAt | format_date_auto }}</span>
      </div>
    </div>
    <div class="portions-and-date-wrapper">
      <div class="portions-wrapper">
        <i class="fa-solid fa-plate-wheat"></i>
        <span class="portions">{{ recipe.portions }}</span>
      </div>
      <div class="dot">·</div>
      <div class="duration-wrapper">
        <i class="fa-solid fa-clock"></i>
        <span class="duration">{{ recipe.duration|date("H\\hi\\m") }}</span>
      </div>
    </div>
  </div>
</article>