{% extends 'base.html.twig' %}

{% block title %}{{ 'user.myAccount' | t }}{% endblock %}

{% block body %}
<section id="my-account">
    <h1>{{ 'user.myAccount' | t }}</h1>
    <div class="username-title">{{ user }}</div>
    {% set roles = user.roles | filter(role => role != 'ROLE_USER') %}
    {% if roles %}
        <h3 class="roles-title">{{ 'entity.user.roles' | t }}</h3>
        <ul class="roles">
            {% for role in roles %}
                <li>{{ ( 'admin.roles.' ~ ( role | replace({ 'ROLE_': '' }) | lower ) ) | t }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</section>
<section id="password-change">
    <h2>{{ 'form.passwordChangeForm.changePassword' | t }}</h2>
    {{ form_start(passwordChangeForm) }}
    
        {% for message in app.flashes('form-error') %}
            <div class="form-errors">
                {{ message | t }}
            </div>
        {% endfor %}
        {{ form_row(passwordChangeForm.oldPlainPassword) }}

        <fieldset>
            {{ form_row(passwordChangeForm.newPlainPassword) }}
        </fieldset>

        <button type="submit" class="btn">{{ 'form.passwordChangeForm.changePassword' | t }}</button>
    {{ form_end(passwordChangeForm) }}
</section>
{% endblock %}
