<h1>{{ 'messages.user.registration.confirmation.title' | t }}</h1>

<p>{{ 'messages.user.registration.confirmation.pleaseConfirm' | t }}</p>
<a href="{{ signedUrl }}">{{ 'messages.user.registration.confirmation.confirm' | t }}</a>
<p>{{ 'messages.user.registration.confirmation.linkExpiration' | t({ '%expiration_delay%': expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }) }}</p>
