{% extends 'base.html.twig' %}

{% block title %}{{ 'user.registration.register' | t }}{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>{{ 'user.registration.register' | t }}</h1>

    {{ form_start(registrationForm, { attr: { class: 'register-form' } }) }}
        {{ form_row(registrationForm.email, {
            label: 'entity.user.email',
            attr: {
                placeholder: 'entity.user.email'
            }
        }) }}

        <fieldset>
            {{ form_row(registrationForm.plainPassword) }}
        </fieldset>

        {{ form_row(registrationForm.nickname, {
            label: 'entity.user.nickname',
            attr: {
                placeholder: 'entity.user.nickname'
            }
        }) }}
        {{ form_row(registrationForm.agreeTerms, {
            label: 'user.registration.agreeTerms',
            attr: {
                class: 'checkbox-first'
            }
        }) }}

        <button type="submit" class="btn">{{ 'user.registration.register' | t }}</button>
    {{ form_end(registrationForm) }}
{% endblock %}
