<p>{{ 'messages.user.contact.helloUser' | t({ '%username%': user.nickname }) }}</p>

<p>{{ 'form.resetPasswordForm.clickLinkToReset' | t }}</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>{{ 'form.resetPasswordForm.linkExpiration' | t({ '%expiration_delay%': resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }) }}</p>
