{% extends 'base.html.twig' %}

{% block title %}{{ 'user.login.resetPassword' | t }}{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <section id="reset-password">
        <h1>{{ 'user.login.resetPassword' | t }}</h1>
        {{ form_start(requestForm) }}
            {{ form_row(requestForm.email, {
                label: 'entity.user.email',
                attr: {
                    placeholder: 'entity.user.email'
                }
            }) }}
            <div>
                <small>
                    {{ 'form.resetPasswordForm.willSendYouLink' | t }}
                </small>
            </div>
            <button class="btn btn-primary">{{ 'form.resetPasswordForm.sendEmail' | t }}</button>
        {{ form_end(requestForm) }}
    </section>
{% endblock %}
