{% extends 'base.html.twig' %}

{% block title %}{{ 'user.login.resetPassword' | t }}{% endblock %}

{% block body %}
    <section id="reset-password">
        <h1>{{ 'user.login.resetPassword' | t }}</h1>
        {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            <button class="btn btn-primary">{{ 'user.login.resetPassword' | t }}</button>
        {{ form_end(resetForm) }}
    </section>
{% endblock %}
