{% extends "base.html.twig" %}

{% block title %}{{ 'form.searchForm.searchResults' | t }}{% endblock %}

{% block body %}
<h1>{{ 'form.searchForm.searchResults' | t }}</h1>
{% include "_partials/_recipe_ingredients_list.html.twig" with {
  id: 'recipe-ingredients'
} %}

<hr>

<section id="recipes" class="recipes">
  <h2 class="heading">{{ recipes|length }} {{ ( 'form.searchForm.results.' ~ ( recipes|length > 1 ? '_plural' : '_singular' ) ) | t | lower }}</h2>
  <div class="recipes-list">
    {% for recipe in recipes %}
      {% include "_partials/_recipe_card.html.twig" %}
    {% endfor %}
  </div>
</section>
{% if not recipes %}
  <div class="no-recipe-found">{{ 'messages.recipe.search.noRecipeFound' | t }}</div>  
{% endif %}
{% endblock %}