{% extends 'base.html.twig' %}

{% block title %}{{ 'user.login.login' | t }}{% endblock %}

{% block body %}
    {% if error %}
        <div class="error-message"><i class="fa-solid fa-triangle-exclamation"></i>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post" class="login-form">
        <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="{{ 'entity.user.email' | t }}"/>

        <input type="password" id="password" name="_password" placeholder="{{ 'entity.user.password' | t }}"/>

        {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"/> #}

        <button type="submit">{{ 'user.login.login' | t }}</button>
    </form>
    <a href="{{ path('app_forgot_password_request') }}" class="forgot-password">{{ 'user.login.forgotPassword' | t }}</a>
{% endblock %}