{{ form_start(form) }}
    {{ form_row(form.title, {
        label: false,
        attr: { placeholder: 'entity.recipe.title'}
    }) }}

    {{ form_row(form.duration, {
        label: 'entity.recipe.duration'
    }) }}

    <hr>

    <input type="text"
        id="ingredient-picker"
        data-ingredients-query-url="{{ path('app_ingredients_search_json') }}"
        data-index="{{ form.recipeIngredients|length > 0 ? form.recipeIngredients|last.vars.name + 1 : 0 }}"
        placeholder="{{ 'form.recipeForm.addIngredient' | t }}"
    >
    {{ form_row(form.recipeIngredients) }}
    {{ encore_entry_script_tags('recipeIngredientsForm') }}

    <hr>

    {{ form_row(form.body, {
        label: 'entity.recipe.body'
    }) }}

    <button class="btn" id="publish-button">{{ 'form.publish' | t }}</button>
{{ form_end(form) }}
