{{ form_start(form) }}
    <div class="form-top-row">
        <div class="top-row-left">
            <div class="title-and-duration">
                {{ form_row(form.title, {
                    label: false,
                    attr: { placeholder: 'entity.recipe.title'}
                }) }}
                {{ form_row(form.duration, {
                    label: 'entity.recipe.duration'
                }) }}
            </div>
            {{ form_row(form.imageUrl, {
                label: 'entity.recipe.thumbnail'
            }) }}
        </div>
        {{ form_row(form.portions, {
            label: 'entity.recipe.portions',
            attr: {
                value: 1,
                min: 1
            }
        }) }}
        <hr class="hide-on-extra-large">
        <div class="recipe-ingredients-wrapper">
            <label for="ingredient-picker">{{ 'entity.ingredient._plural' | t }}</label>
            <input type="text"
                id="ingredient-picker"
                data-ingredients-query-url="{{ path('app_ingredients_search_json') }}"
                data-index="{{ form.recipeIngredients|length > 0 ? form.recipeIngredients|last.vars.name + 1 : 0 }}"
                placeholder="{{ 'form.recipeForm.addIngredient' | t }}"
                autocomplete="off"
            >
            <div id="recipe-ingredients-subform">
                <div id="recipe-ingredients-subform-prototype" data-prototype="{{ form_widget(form.recipeIngredients.vars.prototype) | e }}"></div>
                {% for subForm in form.recipeIngredients %}
                    {{ form_row(subForm, {
                        label: false,
                        attr: {
                            'data-id': subForm.vars.data.ingredient.id,
                            'data-label': subForm.vars.data.ingredient.name,
                            'data-emoji': subForm.vars.data.ingredient.emoji,
                            'data-unit': subForm.vars.data.ingredient.unit
                        }
                    }) }}
                {% endfor %}
            </div>
            {{ encore_entry_script_tags('recipeIngredientsForm') }}
        </div>
    </div>

    <hr>

    {{ form_row(form.body, {
        label: 'entity.recipe.body'
    }) }}

    <button class="btn" id="publish-button">{{ ((editing is defined and editing) ? 'form.save' : 'form.publish') | t }}</button>
    
    {{ form_row(form.recipeIngredients, {
        label: false
    }) }}
{{ form_end(form) }}
