{{ form_start(form) }}
    {{ form_row(form.title, {
        label: false,
        attr: { placeholder: 'entity.recipe.title'}
    }) }}

    {{ form_row(form.duration, {
        label: 'entity.recipe.duration'
    }) }}

    {{ form_row(form.portions, {
        label: 'entity.recipe.portions',
        attr: {
            value: 1
        }
    }) }}

    <hr>

    <input type="text"
        id="ingredient-picker"
        data-ingredients-query-url="{{ path('app_ingredients_search_json') }}"
        data-index="{{ form.recipeIngredients|length > 0 ? form.recipeIngredients|last.vars.name + 1 : 0 }}"
        placeholder="{{ 'form.recipeForm.addIngredient' | t }}"
    >
    <div id="recipe-ingredients-subform">
        <div id="recipe-ingredients-subform-prototype" data-prototype="{{ form_row(form.recipeIngredients.vars.prototype) | e }}"></div>
        {% for subForm in form.recipeIngredients %}
            {{ form_row(subForm, {
                attr: {
                    'data-id': subForm.vars.data.ingredient.id,
                    'data-label': subForm.vars.data.ingredient.name,
                    'data-emoji': subForm.vars.data.ingredient.emoji,
                    'data-unit': subForm.vars.data.ingredient.unit
                }
            }) }}
        {% endfor %}
    </div>
    {{ encore_entry_script_tags('recipeIngredientsForm') }}

    <hr>

    {{ form_row(form.body, {
        label: 'entity.recipe.body'
    }) }}

    <button class="btn" id="publish-button">{{ ((editing is defined and editing) ? 'form.save' : 'form.publish') | t }}</button>
{{ form_end(form) }}
