{% extends 'base.html.twig' %}

{# Building meta description for SEO #}
{% set metaDescription = '%d %s · %s: %s · %s: '|format(
    recipe.portions,
    (recipe.portions > 1 ? 'entity.recipe.portions' : 'entity.recipe.portion') | t | lower,
    'entity.recipe.duration' | t,
    recipe.duration|format_duration,
    'entity.ingredient._plural' | t
) %}
{% for recipeIngredient in recipe.recipeIngredients %}
    {% set metaDescription = metaDescription ~ recipeIngredient %}
    {% set metaDescription = metaDescription ~ ( loop.last ? '.' : ', ' ) %}
{% endfor %}

{% block meta_description %}
<meta name="description" content="{{ metaDescription }}">
{% endblock %}

{% block title %}“{{ recipe.title }}”{% endblock %}

{% block body %}
    <section id="recipe">
        <aside class="recipe-top">
            <div class="duration-wrapper">
                <i class="fa-solid fa-clock"></i>
                <div class="duration">{{ recipe.duration|format_duration }}</div>
            </div>
            <div class="portions-wrapper">
                <i class="fa-solid fa-plate-wheat"></i>
                {% if app.user and app.user.isVerified %}
                    <div class="portions">{{ recipe.portions }}{{ 'entity.recipe.portionAbbr' | t | lower }}</div>
                {% else %}
                    <div class="portions">{{ recipe.portions }} {{ (recipe.portions > 1 ? 'entity.recipe.portions' : 'entity.recipe.portion') | t | lower }}</div>
                {% endif %}
            </div>
            <div class="top-right-wrapper">
                <div class="views-wrapper">
                    <div class="views">{{ recipe.views | format_big_number }}</div>
                    <i class="fa-solid fa-eye"></i>
                </div>
                <div class="dot">·</div>
                {% if app.user and app.user.isVerified %}
                    <div class="score-wrapper"
                    data-score-wrapper
                    data-vote-check-url="{{ path('app_vote_check', { recipe: recipe.id }) }}"
                    data-upvote-url="{{ path('app_vote', { recipe: recipe.id, positive: 1 }) }}"
                    data-downvote-url="{{ path('app_vote', { recipe: recipe.id, positive: 0 }) }}"
                    data-remove-vote-url="{{ path('app_vote_remove', { recipe: recipe.id }) }}"
                    >
                        <div class="score">{{ recipe.score | format_big_number }}</div>
                        <div class="voting-wrapper"></div>
                    </div>
                    {{ encore_entry_script_tags('voting') }}
                {% else %}
                    <div class="score-wrapper">
                        <div class="score">{{ recipe.score | format_big_number }}</div>
                        <span class="score-icon"><i class="fa-solid fa-arrow-right-arrow-left"></i></span>
                    </div>
                {% endif %}
            </div>
        </aside>
        {% if recipe.imageUrl %}
            <div class="thumbnail-wrapper">
                <img src="{{ asset( 'upload/' ~ recipe.imageUrl) }}" alt="{{ 'entity.recipe.thumbnail' | t }} - {{ recipe.title }}">
            </div>
        {% endif %}

        <h1>{{ recipe.title }}</h1>
        <div class="author-and-date-wrapper">
            <div class="author-wrapper">
                <i class="fa-solid fa-circle-user"></i>
                <span class="author">{{ recipe.author.nickname }}</span>
            </div>
            <div class="dot">·</div>
            <div class="date-wrapper">
                <i class="fa-solid fa-calendar-day"></i>
                <span class="date">{{ recipe.createdAt | format_date_auto }}</span>
            </div>
        </div>
        <hr>
        {% include "_partials/_recipe_ingredients_list.html.twig" with {
            recipeIngredients: recipe.recipeIngredients,
            id: 'recipe-ingredients'
        } %}
        <hr>
        <article id="recipe-body">
            {{ recipe.body | raw }}
        </article>
        {% if app.user == recipe.author or is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_recipe_edit', {'id': recipe.id}) }}" class="button">{{ 'form.recipeForm.editRecipe' | t }}</a>
            {{ include('recipe/_delete_form.html.twig') }}
        {% endif %}
        {% if app.user != recipe.author or is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_report_new', { id: recipe.id }) }}" class="report-link">{{ 'action.report' | t }}</a>
        {% endif %}
    </section>
{% endblock %}
