{% extends 'base.html.twig' %}

{% block title %}“{{ recipe.title }}”{% endblock %}

{% block body %}
    <section id="recipe">
        <aside class="recipe-top">
            <div class="duration-wrapper">
                <i class="fa-solid fa-clock"></i>
                <div class="duration">{{ recipe.duration|date("H\\hi\\m") }}</div>
            </div>
            <div class="portions-wrapper">
                <i class="fa-solid fa-plate-wheat"></i>
                <div class="portions">{{ recipe.portions }} {{ (recipe.portions > 1 ? 'entity.recipe.portions' : 'entity.recipe.portion') | t | lower }}</div>
            </div>
            {% if app.user and app.user.isVerified %}
                <div class="score-wrapper"
                data-score-wrapper
                data-vote-check-url="{{ path('app_vote_check', { recipe: recipe.id }) }}"
                data-upvote-url="{{ path('app_vote', { recipe: recipe.id, positive: 1 }) }}"
                data-downvote-url="{{ path('app_vote', { recipe: recipe.id, positive: 0 }) }}"
                data-remove-vote-url="{{ path('app_vote_remove', { recipe: recipe.id }) }}"
                >
                    <div class="score">{{ recipe.score }}</div>
                    <div class="voting-wrapper"></div>
                </div>
                {{ encore_entry_script_tags('voting') }}
            {% else %}
                <div class="score-wrapper">
                    <div class="score">{{ recipe.score }}</div>
                    <span class="score-icon"><i class="fa-solid fa-arrow-right-arrow-left"></i></span>
                </div>
            {% endif %}
        </aside>
        {% if recipe.imageUrl %}
            <div class="thumbnail-wrapper">
                <img src="{{ asset( 'upload/' ~ recipe.imageUrl) }}" alt="{{ 'entity.recipe.thumbnail' | t }} - {{ recipe.title }}">
            </div>
        {% endif %}

        <h1>{{ recipe.title }}</h1>
        <hr>
        {% include "_partials/_recipe_ingredients_list.html.twig" with {
            recipeIngredients: recipe.recipeIngredients,
            id: 'recipe-ingredients'
        } %}
        <hr>
        <article id="recipe-body">
            {{ recipe.body | raw }}
        </article>
        <a href="{{ path('app_recipe_index') }}">back to list</a>
        {% if app.user == recipe.author or is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_recipe_edit', {'id': recipe.id}) }}" class="button">{{ 'form.recipeForm.editRecipe' | t }}</a>
            {{ include('recipe/_delete_form.html.twig') }}
        {% endif %}
    </section>
{% endblock %}
