{% extends 'base.html.twig' %}

{% block title %}“{{ recipe.title }}”{% endblock %}

{% block body %}
    <section id="recipe">
        <aside class="recipe-top">
            <div class="duration-wrapper">
                <i class="fa-solid fa-clock"></i>
                <div class="duration">{{ recipe.duration|date("H\\hm\\m") }}</div>
            </div>
            <div class="score-wrapper"
            data-score-wrapper
            data-vote-check-url="{{ path('app_vote_check', { recipe: recipe.id }) }}"
            data-upvote-url="{{ path('app_vote', { recipe: recipe.id, positive: 1 }) }}"
            data-downvote-url="{{ path('app_vote', { recipe: recipe.id, positive: 0 }) }}"
            >
                <div class="score">{{ recipe.score }}</div>
                <div class="voting-wrapper"></div>
            </div>
            {{ encore_entry_script_tags('voting') }}
        </aside>
        <h1>{{ recipe.title }}</h1>
        <hr>
        <section id="recipe-ingredients">
            {% for recipeIngredient in recipe.recipeIngredients %}
                <div class="recipe-ingredient">
                    <div class="ingredient">
                        <span class="ingredient-emoji">{{ recipeIngredient.ingredient.emoji }}</span>
                        <span class="ingredient-name">{{ recipeIngredient.ingredient.name }}</span>
                    </div>
                    <div class="quantity">
                        <span class="quantity-value">{{ recipeIngredient.quantity }}</span>
                        <span class="unit">{{ recipeIngredient.ingredient.unit.name }}</span>
                    </div>
                </div>
            {% endfor %}
        </section>
        <hr>
        <article id="recipe-body">
            {{ recipe.body | raw }}
        </article>
        <a href="{{ path('app_recipe_index') }}">back to list</a>
        {% if app.user == recipe.author or is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_recipe_edit', {'id': recipe.id}) }}" class="button">{{ 'form.recipeForm.editRecipe' | t }}</a>
            {{ include('recipe/_delete_form.html.twig') }}
        {% endif %}
    </section>
{% endblock %}
